<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/new-message-notification :: new-message-notification}"></th:block>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div class="container">
    <h2>Admin dashboard</h2>
    <a class="button" href="/admin/suspicious_messages">Suspicious messages</a>
    <a class="button" href="/admin/banned">Banned users</a>
    <a class="button" href="/admin/users">Users</a>
</div>
<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>