<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Suspicious Messages</title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link href="/css/admin.css" rel="stylesheet">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/new-message-notification :: new-message-notification}"></th:block>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>

<div class="container">
    <h2>Suspicious Messages Needing Verification</h2>

    <table border="1">
        <thead>
        <tr>
            <th>Message Content</th>
            <th>Sender</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.messageContent}"></td>
            <td th:text="${message.sender.username}"></td>
            <td class="buttons-segment">
                <form method="post" style="display:inline;" th:action="@{'/admin/suspicious_messages/approve/' + ${message.id}}">
                    <button class="submit-button" type="submit">Approve</button>
                </form>

                <form method="post" style="display:inline;" th:action="@{'/admin/suspicious_messages/inappropriate/' + ${message.id}}">
                    <button class="submit-button" type="submit">Mark Inappropriate</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="button" href="/admin/home">Back to Admin Dashboard</a>
</div>


<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>

</body>
</html>
