<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Reset Password'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link href="/css/login-register.css" rel="stylesheet" type="text/css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
<h2>Step 2: Please answer the security question</h2>
<div class="password-reset-container">
    <form method="post" th:action="@{/password-reset-question}">
        <p>Security Question: <span th:text="${question}"></span></p>

        <label for="answer">Answer:</label><br>
        <input class="input" id="answer" name="answer" type="text"><br><br>
        <div style="color: red;" th:if="${error}" th:text="${error}"></div>
        <input class="submit-button" type="submit" value="Submit">
    </form>
    <div>
        <img alt="Step 2 cat" class="password-reset-cat" src="/images/step2_cat.png">
    </div>
</div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>
<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>
</body>
</html>