<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name} + ' - Reset Password'"></title>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <link href="/css/login-register.css" rel="stylesheet" type="text/css">
    <script src="/javascript/buttonPress.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
<h2>Step 1: Email verification</h2>
<div class="password-reset-container">
    <form method="post" th:action="@{/password-reset-email}">
        <p>Please enter your email address:</p>
        <label for="email">Email:</label>
        <input class="input" id="email" name="email" type="email"><br><br>
        <div style="color: red;" th:if="${error}" th:text="${error}"></div>
        <input class="submit-button" type="submit" value="Submit">
    </form>
    <div>
        <img alt="Step 1 cat" class="password-reset-cat" src="/images/step1_cat.png">
    </div>
</div>
<th:block th:insert="~{fragments/back-button :: back-button}"></th:block>
<th:block th:insert="~{fragments/paw-prints :: paw-prints}"></th:block>

</body>
</html>