<div th:fragment="messageFragment">
    <div class="message" th:classappend="${sentByLoggedInUser} ? 'sent' : 'received'">
        <div class="message-image">
            <img alt="Profile picture" th:if="${!sentByLoggedInUser}" th:src="@{/image/avatar/{id}(id=${otherUser.avatar.id})}"/>
        </div>
        <div class="message-content">
            <p th:text="${messageContent}"></p>
            <small th:text="${#temporals.format(timestamp, 'HH:mm:ss')}"></small>
            <small class="status" th:if="${sentByLoggedInUser} and ${last}" th:text="'Status: ' + ${status}"></small>
        </div>
    </div>
</div>

