<nav th:fragment="navbar">
    <div class="navbar">
        <div class="navbar-left">
            <a href="/">
                <img alt="App Logo" class="app-logo" height="100" src="/images/TalkMeowLogoTransparent.png" width="100"/>
            </a>
        </div>
        <div class="navbar-center">
            <div th:if="${isLoggedIn && user != null}">
                <button aria-label="Toggle Search" class="search-toggle" id="search-toggle">
                    <img alt="Search Icon" src="/images/search-icon.png"/>
                </button>
            </div>
            <div class="search-bar" id="search-bar" th:if="${isLoggedIn && user != null}">
                <input autocomplete="off" id="search-bar-input" placeholder="Search users by username..." type="text"/>
                <div id="search-results"></div>
                <script src="/javascript/search.js"></script>
            </div>
        </div>
        <div class="navbar-right">
            <div class="nav-right-container" th:if="${!isLoggedIn || user == null}">
                <a class="button" href="/register/form">Register</a>
                <a class="button" href="/login/form">Login</a>
            </div>
            <div class="nav-right-container" th:if="${isLoggedIn && user != null}">
                <a href="/profile">
                    <img alt="User Avatar" class="user-avatar" height="80" id="user-avatar" src="" style="border-radius: 50%; border: 1px solid black; margin: 5px" width="80"/>
                </a>
                <a class="button" href="/logout">Logout</a>
            </div>
            <script src="/javascript/fetchAvatar.js"></script>
        </div>
    </div>
</nav>
